{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    </script>
</head>

<body>
    {{ template "form" .Form }}
    <hr />
    {{ template "contacts" .DB }}
</body>

</html>
{{ end }}


{{ block "form" . }}
<form hx-swap="innerHTML" hx-post="/contacts">
    Name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" />
    Email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email" />

    <button type="submit">Click me Daddy</button>

    {{ if .Errors.email }}
    <div style="color: red">{{ .Errors.email }}</div>
    {{ end }}
</form>
{{ end }}


{{ block "contacts" . }}
<div id="contacts" style="display: flex; flex-direction:column">
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}


{{ block "contact" . }}
<div id="contact-{{ .Id }}" style="display: flex">
    <div hx-target="#contact-{{ .Id }}" hx-swap="outerHTML" hx-delete="/contacts/{{ .Id }}" style="width: 1rem; cursor: pointer; color: red">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
                d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z" />
        </svg>
    </div>
    Name : <span> {{ .Name }} </span>
    Email: <span> {{ .Email }} </span>
</div>
{{ end }}


{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
</div>
{{ end }}
